.redButton {
  background-color: inherit;
  padding: 10px 20px;
  cursor: pointer;
  height: 50px;
  width: inherit;
  margin: 30px;
  font: 700 20px 'Bitter';
  text-align: center;
  border: 3px solid darkred;
  color: red;
  text-decoration: none;
  transition: 0.5s;
};
.redButton:hover {
  background-color: red;
  color: white;
  text-decoration: none;
}