*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@import "choicebox";
@import "startButton";
@import "choicebox";
@import "choiceElement";
@import "redButton";
@import "_results";

body{
    display: flex;
    justify-content: center;
    height: 100%;
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}
.titleQuestion{
    margin: 20px auto;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(133, 170, 229,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    color: #85aae5;
    opacity: 0.4;
    font: 700 80px 'Bitter';
}
.center{
    display: flex;
    justify-content: center;
}

